.rsh-icon {
  width: 20px;
  filter: invert(46%) sepia(36%) saturate(7468%) hue-rotate(360deg) brightness(103%) contrast(107%);
  margin-right: 5px;
}

.rsh-text {
  margin-right: 7px;
}

.rsh-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}